
.background {
    background-image: url(abhay.jpg);
    background-repeat: no-repeat;
    background-size: 500px;
    background-attachment: scroll;
    background-position:left;
    height : 500px;
    width: 1200px;
}

p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: inherit;
    font-weight: 700;
    font-size: larger;
    color: #e414e1ca;

    text-align:center;
    text-indent: 50px;
    text-shadow:2px 0px 0px #000000ca;

}
caption,h2{
    color:blue;
}
h4{color: brown;}

LIST,tr,th,td{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 20px;
    border-spacing: 3px;
}th{background-color: aqua;}td{background-color: blue;}tr{background-color: red;}
